*{
box-sizing:border-box;
margin:0;
padding:0;
}


:root{

--bg:#000;
--text:#fff;
--gray:#888;
--border:#222;

}


.light{

--bg:#fff;
--text:#000;
--gray:#555;
--border:#ddd;

}



body{

font-family:Inter,sans-serif;
background:var(--bg);
color:var(--text);
transition:.3s;

}



header{

padding:30px 8%;

}


nav{

display:flex;
justify-content:space-between;
align-items:center;

}


nav h2{

font-weight:800;

}


.nav-links{

display:flex;
gap:25px;
align-items:center;

}


a{

color:var(--text);
text-decoration:none;

}


button{

background:none;
border:1px solid var(--border);
color:var(--text);
padding:8px 12px;
cursor:pointer;

}



.hero{

min-height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
padding:0 8%;

}


.small{

color:var(--gray);

}


.hero h1{

font-size:clamp(50px,10vw,120px);
font-weight:800;

}


.hero h2{

font-size:clamp(20px,3vw,35px);

}


.hero p{

max-width:600px;
margin:20px 0;
color:var(--gray);

}



.buttons{

display:flex;
gap:15px;

}


.buttons a{

border:1px solid var(--text);
padding:12px 25px;

}



section{

padding:80px 8%;

}


.title{

font-size:40px;
margin-bottom:30px;

}



.skills{

display:flex;
flex-wrap:wrap;
gap:12px;
margin-top:30px;

}


.skills span{

border:1px solid var(--border);
padding:10px 18px;

}



.cards{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:20px;

}



.card{

border:1px solid var(--border);
padding:30px;
transition:.3s;

}


.card:hover{

transform:translateY(-8px);

}


.card p{

color:var(--gray);
margin:15px 0;

}


.card span{

color:var(--gray);

}


.card div{

margin-top:20px;
display:flex;
gap:20px;

}



footer{

text-align:center;
padding:30px;
border-top:1px solid var(--border);

}



@media(max-width:700px){

.nav-links a{
display:none;
}

}
