@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* اسکرول‌بار سفارشی و مدرن */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-300 dark:bg-zinc-800 rounded-full;
  }

  /* هایلایت متن */
  ::selection {
    @apply bg-zinc-900 text-white dark:bg-zinc-100 dark:text-black;
  }
}

/* پس‌زمینه نقطه‌ای شبیه به Vercel / Shadcn */
.bg-dot-pattern {
  background-image: radial-gradient(rgba(120, 120, 120, 0.15) 1px, transparent 1px);
  background-size: 24px 24px;
}